body {
    overflow-x: hidden;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url('../img/about-bg.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

.intro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.intro-text {
    position: relative;
    text-align: left;
    z-index: 5;
}

.intro-text h2 {
    font-size: 48px;
    margin: 0;
}

.intro-text p {
    font-size: 24px;
    max-width: 50%;
}

.intro-text.full {
    text-align: center;
}
.intro-text.full p {
    margin: 0;
    max-width: 100%;
}

.intro {
    height: 70vh;
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_HAjP8AjdBvXTRmQ1KmcgM80Aoa68addnQs0x0zwg7kn9K9dZhaPWfh_u1CzZg0776PoHHR1RsikGvFDJKFB-lP1lftZYITIfwJIghSXtKpdyVPXj3DW_9WswVKAEEvlL_eeNuZIush-LWuynLgpPYwrLkUiBTYwY6urpPskRycrVjRF9XgFVeEymKFNt-duXZy-XmnnVvaaN05TCESJvfet8tY95Z9ke1cNFn-9gw8AMQYfK4OTD6r1_-Lw3zhC6bK5CX1nHBipXvykbUIjCUA_juYHeuSTa0boqgjA3ypq4KyqqEZLmCuhUGCV3yC3qo3JgnzHjfWe8ZYSCXh32LkjMHbtiKw36-3mdE2ETtjHpqb8NPOGW48YYInDk01Ea8qD-PLz_G2LSgFv1pzClVoZgZVO2RpB4XLFbI46tK2tj19ZEz0_7K4IIV_CvTyO6pw9_OkpkJ3_-jsYxp3iyW3ud5MTRz8CFd-Z53LVowg_NQCmKSTDdqMw-0NL-Ld1P_jU_7yNtlhgUTgIr6ms3cVoFB58OlXXw4vDWV5fxv0qW8sO8wXViuQgfA4ECHSU8snRnF6zQZawoItqelXDwi18wiCLtfa3auznVHwNqh7qezPVDV9Hk9aYACTJa92WurKNaQ3VeUKb1GrUdubJDmPY2__kg-eT3WWES4dih6o45EsFPOxidyoffWLmH0G3t46B6v3KMHH6sO94iCJaRP_4-ln_MzH7waAPg9rKVBdVrsOe1Iky6V3kaybCt2eq_N2QtuXmgFAv1mPp3cJjL2__HKC3Yisc7QJOZG28eoPBHWanjUwGN_IONuo9klbPsk9PUNYjGQmSOpED6dNv6bAaSZYJwWO0VPldl-0vAKZtMJ1v_2Sy7QSNp1r-zB6iN4fLPiXnddH89UR4987gruTK2oOaxoUvfEkV_lB547cgpu8H885jpRs9c76nw3RYUu-xbYAXbUc7fI1feIrNnVfJ8558fYoSygznz7Ea5C1vCYrhVd-qeZz5BziElZNDvu0LhUpdf8BTrNpriL3YGs7w-isPnvDfCnOeuWoa77-jTNbZl-zfXnYdUKutm8G5i8G0lnqeGyIWlXA6gxxJbfD08nyjxjQcorXOTvG86OVGOj_kDpdoqY0Mfv7lOS9q1-uLWIkJR_0Y0pd9wT314NUWxlHMNANlYjmG6utUdcqzjcXkNub1HHu56os1trzbcVB30eiLA0bScOCI60ymchA9SQ1EgbS9QPmTK8qQuRSZqXUF4-U1U6CVh3o3yaJLCs5RbjEIpow5AuGbzymguY_dxV9XWRN9w-gaH-lIBn597eI9bQpjU1A9y6bIZwB1xD_9kXXTczI9FQOv2bhR-OxnqjmgbC9VwQgXlmh8GC_DX_-08dZLsLtdHzkSceTxmkWAMMCX_LPp6fyiWl3LKQo80jFTghiAkok--xYXuVs4p2VWa954IMmmSGXs5rcIY-TnfZaPV7PQfmItN_jH7NiA5LAHqrVwBV0_s0gUCxmKABmYTYA5QwkQo-8tsPlZ4v1gY6U3dLQD7x0rlW9rbLfdyXcRRvpZKki9Kj0rqvmA7QWPVjaYW1YU0HIfhLjVfsyq7KHiXMAf1UJ6NM=w1366-h607');
    background-position: center center;
}

.intro::after {
    background: rgba(0, 0, 0, 0.75);
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 5%;
    background-color: #fff;
    gap: 0 5%;
}

.contact-section::before {
    content: '';
    position: absolute;
    top: 70%;
    transform: translate3d(0px, -50%, 0px);
    height: 50px;
    width: 2px;
    background-color: #FFCE57;
}

.contact-form {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

.contact-form .input-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #FFCE57;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.contact-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-details .detail-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-details .detail-item i {
    font-size: 24px;
    color: #FFCE57;
}

.contact-details .detail-text {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.contact-details .detail-text a {
    position: relative;
    text-decoration: none;
    color: #000;
}

.contact-details .detail-text a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    bottom: -2px;
}

.contact-details .detail-text a:hover::before {
    width: 100%;
}

.contact-details .detail-title {
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
        gap: 5%;
    }

    .contact-form, .contact-details {
        flex: none;
    }

    .contact-details .detail-item {
        padding: 4% 2%;
    }
}

@media (max-width: 480px) {
    .contact-form .input-group {
        flex-direction: column;
    }

    .contact-form button {
        font-size: 14px;
    }

    .contact-details .detail-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-details .detail-text a::before {
        bottom: -1px;
    }

    
}