.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #121212;
    z-index: 3;
    min-height: 100vh;
    padding-bottom: 3%;
}
.portfolio-wrapper::before {    
    content: '';
  position: absolute;
  transform: translate3d(0px, -50%, 0px);
  height: 5%;
  width: 2px;
  background-color: #FFCE57;
}

.sorter {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 1%;
  }
  
  .sorter li {
    position: relative;
    cursor: pointer;
    padding: 20px;
    max-width: 100%;
    width: 130px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.sorter a {
    border-left: 0px solid rgba(41, 41, 41, 0.95) ;
    border-left: 0px solid rgba(41, 41, 41, 0.95) ;
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.sorter a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: gray;
    transition: bottom 700ms cubic-bezier(0.19, 1, 0.22, 1); /* Added transition property */
    bottom: 82%;
    transform: scaleY(1); /* Initial height of the bar */
  }
.sorter li a.active::after {
    bottom: 18%;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.portfolio .container {
    width: 19vw;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}


.container .image-holder {
    display: flex;
    justify-content: center; /* Added */
    align-items: center; /* Added */
    aspect-ratio: 2 / 3;
}

.portfolio .container .image-holder .image {
    inline-size: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 3%;
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0.10s;
    object-position: center;
}

.portfolio .container:hover .image-holder .image {
    border-radius: 3% 3% 0% 0%;
    transform: translateY(-14%);
}

.description{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: end;
    align-self: flex-end;
    inline-size: 100%;
    width: 18%;
    height: 0%;
    background-color: rgba(41, 41, 41, 0.95);
    border-radius: 0% 0% 5% 5%;
    color: white;
    padding: 12px;
    box-sizing: border-box;
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.title > a {
    color: #fff;
}

.title:hover > a {
    color: #FFCE57;
}

.role {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.time{
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

.container:hover .description {
    opacity: 1; 
    height: 8%;
    max-height: 320px;
}

.container:hover .description {
    max-height: 320px;
}


.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 95vh;
    overflow: hidden;
    margin-top: 0%;
    background-color: #000;
}

.carousel {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
    height: inherit;
    backface-visibility: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
}

.carousel-item {
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
align-content: center;
justify-items: center;
}

.carousel-content::before {
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.image-container {
    position: relative;
    overflow: hidden;
    align-content: center;
    object-fit: cover;
    transition: height 0.75s ease;
    border-radius: 4%;
object-position: center center;
}

.image-container img {
    width: 70vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 4%;
    padding: 0% 2%;
}

.video-container {
    position: relative;
    overflow: hidden;
    align-content: center;
    object-fit: cover;
    transition: height 0.75s ease;
    border-radius: 4%;
object-position: center center;
}

.video-container iframe {
    width: 70vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 4%;
    padding: 0% 2%;
}

.under-text {
color: aliceblue;
display: none;
flex-direction: column;
align-items: center;
justify-items: center;
align-content: center;
justify-content: center;
z-index: 3;
transform: translate3d(0px, -120%, 0px);
opacity: 0;
transition: all 0.5s ease;
}

.slider-title {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 24pt ;
transform: translate3d(0px, 0%, 0px);
}

.slider-description {
display: none;
font-family: 'DM Sans', sans-serif;
font-weight: 400;
font-size: 12pt ;
text-transform: uppercase;
}

.play-button {
    display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;
}

.play-icon {
    display: none;
  width: 32px;
  height: 32px;
  stroke: #fff;
}

.carousel-previous,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel-previous {
  left: 20px;
}

.carousel-next {
  right: 20px;
}

.chevron-icon {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

@media (max-width: 1440px) {
    .container:hover .description {
        opacity: 1;
        max-height: 320px;
    }

    
    .title {
        font-size: 1em;
    }
    
    .role {
        font-size: 0.75em;
    }
    .time {
        font-size: 0.75em;
    }
}

@media (max-width: 767px) {
    .portfolio  {
        width: 100%;
    }
    .portfolio .container {
        width: 50%; /* 2 items per row on mobile */
        padding: 2%;
    }
    .portfolio .container .image-holder {
        height: 100%;
        width: 100%;
    }
    .description {
        max-height: 8%;
        padding: 5px;
        opacity: 1;
        width: 46vw;
        height: 15%;
        transition: none;
    }
    .container:hover .description {
        transition: none;
        height: 8%;
    }

    .portfolio .container:hover .image-holder .image {
        border-radius: 0%;
        transform: none;
    }

    .title{
        font-size: 10Spt;
    }
    .role-time  {
        justify-self: baseline;
        font-size: 10pt;
    }
    .role {
        font-size: 11pt;
    }
    .time {
        font-size: 11pt;
    }
    .sorter {
        width: 80%;
        padding-top: 10%;
    }
    .sorter li{
        display: flex;
        padding: 10px;
    }
    .sorter li a::before {
        width: 0%;
    }

    .carousel-container {
        height: 75vh;
      }
      .carousel {
        height: 75vh;
      }
    
      .carousel-content {
        margin-top: 20%;
      }
    
      .carousel-item .image-container > img {
        height: 60vh;
      }
      .carousel-item .video-container > iframe {
        height: 60vh;
      }
    
      .carousel-item .under-text {
        text-align: center;
      }
    
      .carousel-item .under-text .slider-title  {
        width: 50vw;
      }
}

@media (max-width: 500px) {
    .description {
        max-height: 8%;
    }
}
@media (max-width: 400px) {
    .carousel-container {
        height: 60vh;
      }
      .carousel {
        height: 60vh;
    }
    
    .carousel-content {
        margin-top: 10%;
      }
    
    .carousel-item .image-container > img {
        height: 50vh;
    }
    .carousel-item .video-container > iframe {
        height: 50vh;
    }
    .carousel-item .under-text {
        position: absolute;
        transform: translate(0, 75%);
        padding: 2%;
    }

    .carousel-item .under-text .slider-title  {
        width: 60vw;
      }
    
}




.container.animation-hidden {
    opacity: 0;
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}

.container.category-hidden {
    display: none;
}

.hidden {
    display: none;
}